<div>
  <button (click)="onAdd()">Add Supplier</button>
</div>

@if(suppliers()){

<div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Contact</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      @for(supplier of suppliers(); track supplier.id){
      <tr>
        <td>{{ supplier.name }}</td>
        <td>{{ supplier.contact }}</td>
        <td>{{ supplier.phone }}</td>
        <td>
      <button (click)="onEdit(supplier)">Edit</button>
    </td>
    <td>
      <button (click)="onDelete(supplier)" >Delete</button>
    </td>
      </tr>

      }
    </tbody>
  </table>
</div>
} @if(isAddModal() || isEditModal()){
<div class="modal-body">
   @if(isEditModal()) {
    <label for="id">ID</label>
    <input type="number" id="id" [(ngModel)]="editSupplier.id" disabled>
  }
  <label for="name">Name</label>
  <input
    type="text"
    id="name"
    name="name"
    [(ngModel)]="editSupplier.name"
    required
  />

  <label for="contact">Contact</label>
  <input
    type="text"
    id="contact"
    name="contact"
    [(ngModel)]="editSupplier.contact"
    required
  />

  <label for="phone">Phone</label>
  <input
    type="text"
    id="phone"
    name="phone"
    [(ngModel)]="editSupplier.phone"
    required
  />

  <div class="modal-footer">
    <button (click)="onSave()">Save</button>
    <button (click)="onCancel()">Cancel</button>
  </div>
</div>
}
